/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-02-2018, 11:45:50
    Author     : janvanzetten
*/

.button {
    -fx-background-color: #BEB1A4;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
    -fx-text-fill: #F3F1E8;
}

.button:pressed{
    -fx-background-color: #776E65;
}

